# Codename
[submodule "Noteskin System"]
	path = Codename/Noteskin System
	url = https://github.com/rodney528/Codename-Noteskin-System

[submodule "TimeBar Addon"]
	path = Codename/TimeBar Addon
	url = https://github.com/rodney528/Codename-TimeBar-Addon

# Psych
[submodule "Base Game Hold Covers"]
	path = Psych/Base Game Hold Covers
	url = https://github.com/rodney528/Psych-Hold-Covers
	branch = latest

[submodule "Stage System"]
	path = Psych/Stage System
	url = https://github.com/rodney528/Psych-Stage-System